@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    font-family: 'Rubik', sans-serif;
    font-style: 10px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

.finder {
    position: relative;
    padding: 1rem;
    background: url('../assets/images/pattern-bg.png') center center/cover no-repeat;
    min-height: 20rem;
}

.finder_title {
    text-align: center;
    color: #fff;
}

.search_bar {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}

.search_bar-input {
    padding: 0 2rem;
    height: 4rem;
    width: 30rem;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search_bar-btn {
    padding: 1.5rem;
    width: 4.5rem;
    height: 4rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: #000;
    cursor: pointer;
}

.search_bar-btn:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-bottom: none;
    border-left: none;
    rotate: 45deg;
}

.info {
    position: absolute;
    justify-content: space-around;
    padding: 1rem;
    bottom: -21%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    display: flex;
    min-height: 8rem;
    min-width: 55rem;
    border-radius: 1rem;
    z-index: 1000;
}
.info_block {
    width: 100%;
    border-right: 1px solid rgb(219, 210, 210);
    text-align: center;
}

.info_block:last-child {
    border-right: none;
}
.info_subtitle {
}
.info_title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
}

#map {
    height:55vh;
    z-index: 0;
}

/* Media */
@media (max-width: 575px) {
    .finder {
    }
    .finder_title {
        font-size: 1.5rem;
    }
    .search_bar {
    }
    .search_bar-input {
        height: 3rem;
    }
    .search_bar-btn {
        height: 3rem;
        padding: 15px;
    }
    .info {
        flex-direction: column;
        bottom: -55%;
        min-height: 20rem;
        min-width: 15rem;
        padding: 0 15px;
    }
    .info_block {
        border-right: none;
        border-bottom: 1px solid rgb(219, 210, 210);
    }
    .info_block:last-child {
        border-bottom:none;
    }
    .info_subtitle {
        margin-top: 10px;
    }
    .info_title {
        font-size: 18px;
        margin-bottom: 20px;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }